.bgImg {
  width: 100vw;
  height: 100vh;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: center center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
