.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  width: 60px;
  height: fit-content;
  position: relative;

  .frame {
    width: 60px;
    height: 60px;
    background-color: var(--text-background);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid #fbc4ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .frameWithItemGrabbing {
    background-color: #ffd49c;
    border: 4px solid #fcb493;
  }

  .frameWithItemOutOfUses {
    background-color: #f8c6d8;
    filter: brightness(0.95);
  }

  .item {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    border-radius: 15px;
    z-index: 1;
    cursor: grab;
  }

  .itemOutOfUses {
    cursor: not-allowed !important;
  }

  .uses {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--text-background) 42.5%,
      var(--text-background) 57.5%,
      transparent 100%
    );
  }

  .usesOutOfUses {
    color: var(--text-fail);
    background: linear-gradient(to right, transparent 0%, #f8c6d8 42.5%, #f8c6d8 57.5%, transparent 100%) !important;
  }
}
