.wrapper {
  position: relative;
  width: 100%;

  .grass {
    width: 100%;
    height: var(--grass-height);
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 2;
  }

  .dirt {
    width: 100%;
    height: var(--dirt-height);
    background-repeat: repeat-x;
    background-size: auto 100%;
    margin-top: -50px;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
  }
}
