@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mali", 'Comic Sans MS', 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #ECFAE5;
  --text-background: #FFF8E8;
  --primary: #945405;
  --text: #97621c;

  --grow: #4f9e63;
  --garden: #d28f6d;
  --shop: #eba826;
  --album: #8da5d1;

  --favorite: #d76a85;
  --unfavorite: #9b7b7b;
  --favorite-bg: #fde8ee;

  --text-fail: #d30127;

  /* Outlet & Global layout */
  --app-round-btn-size: 70px;
  --abs-position: 25px;

  /* Grow page */
  --dirt-height: 200px;
  --grass-height: 120px;
  --timer-position: 50px;
  --starter-position: 180px;

  /* Garden page */
  --sprout: #D99A00;
  --sprout-bg: #FFF6D6;

  --tree-bg: #f0f9f0;
  --tree-hl: #347433;
  --tree-r1: #a3c8a2;
  --tree-r2: #88b88b;
  --tree-r3: #6da96f;
  --tree-r4: #4b944f;
  --tree-r5: #2e7f3a;
}