@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mali", 'Comic Sans MS', 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #ECFAE5;
  --text-background: #FFF8E8;
  --primary: #945405;
  --text: #97621c;

  --grow: #508d4e;
  --garden: #673147;
  --shop: #D99A00;

  /* Outlet & Global layout */
  --app-round-btn-size: 70px;
  --abs-position: 25px;

  /* Grow pages constant */
  --dirt-height: 200px;
  --grass-height: 120px;
  --timer-position: 50px;
  --starter-position: 180px;
}